.header {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  width: 100%;
height: 76px;
background: #9dd1d3;
}

.header-container {
  padding: 8px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
width: 129px;
  height: 60px;
}


.menu-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  margin-left: auto;
  background-color: inherit;
}

.navigation-list{
  display: none;
}

/* Modal */
.modal {
  display: none;
background: #9dd1d3;
  padding: 170px 24px;
  width: 100%;
  height: auto;
  z-index: 999;
  position: fixed;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  transition: visibility 0.3s ease;
}

.menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 50px;
}

.menu-item {
font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.33333;
  color: #010101;
transition: font-weight 0.3s ease-in-out;
}
.menu-item:hover{
  font-weight: 500;
}


@media screen and (min-width: 1440px) {
  .header {
height: 104px;
  }

  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 64px;
    gap: 40px;
  }

  .header-logo {
width: 192px;
  height: 88px;
  }

  .menu-button {
    display: none;
  }

  .navigation-list {
    display: flex;
    justify-content: center;
    gap: 50px;
  }

  .navigation-item {
font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.33333;
  color: #010101;
    transition: font-weight 0.3s ease-in-out;
  }

    .navigation-item:hover {
      font-weight: 600;
    }
  
    .navigation-item:focus,
    .navigation-item.active {
      font-weight: 600;
    }
}